 {
	"name": "Cursusdatum",
	"elements":  {
		"f7e5e4b9-e570-4651-b467-c19152a55223":  {
			"name": "Cursuslocatie",
			"description": "Selecteer de bijbehorende locatie",
			"access": "1",
			"specific":  {
				"_editable": "1",
				"_extra_info": ""
			},
			"application":  {
				"_chosenapps":  {
					"0": "1"
				},
				"_chosentypes":  {
					"0": "cursus"
				},
				"_chosenelms":  {
					"0": "5f1f6af8-812f-4102-b970-6216a153bad7"
				}
			},
			"table_dropped": "0",
			"table_created": "0",
			"indexes_checked": "0",
			"type": "relateditemspro"
		},
		"1fe28a05-2138-40d9-bc5d-ddaeba6153de":  {
			"name": "Prijs",
			"description": "",
			"access": "1",
			"repeatable": "",
			"specific":  {
				"_default": "395",
				"_default_tax_class": "1",
				"_currency": "1"
			},
			"type": "pricepro"
		},
		"5cb8ecf2-93bf-4a3e-9957-d46fd75a2997":  {
			"name": "Reserveren",
			"description": "Reserveer nu!",
			"access": "1",
			"specific":  {
				"_default": "1"
			},
			"type": "addtocart"
		},
		"f1fa1c2d-6c79-467d-9140-c39ac9038c44":  {
			"name": "Datum",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"type": "datepro"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "Geef locatienaam en datum in. Niet zichtbaar voor gebruikers",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	},
	"zl": null
}