 {
	"name": "Cursuslocatie",
	"elements":  {
		"5dc7c1b6-6186-463c-9ba1-03d967c28d18":  {
			"name": "Locatie",
			"description": "Adres zoals weergegeven aan gebruikers",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"893bf60b-1a5a-4374-978b-467c6132453e":  {
			"name": "Maps-locatie",
			"description": "Geef het adres voor de Google Maps kaart",
			"access": "1",
			"locale": "en",
			"key": "",
			"type": "googlemaps"
		},
		"3c6bdba2-f21f-4a0c-9a05-182c2fb23ec1":  {
			"name": "Eventuele opmerkingen",
			"description": "Beschrijvijng, evt parkeeraanwijzingen etc.",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textareapro"
		},
		"5f1f6af8-812f-4102-b970-6216a153bad7":  {
			"name": "Cursusdata",
			"description": "Automatisch gevuld vanuit vanuit cursusdatum",
			"access": "1",
			"specific":  {
				"_editable": "1",
				"_extra_info": ""
			},
			"application":  {
				"_chosenapps":  {
					"0": "1"
				},
				"_chosentypes":  {
					"0": "cursusdatum"
				},
				"_chosenelms":  {
					"0": "f7e5e4b9-e570-4651-b467-c19152a55223"
				}
			},
			"table_dropped": "0",
			"table_created": "0",
			"indexes_checked": "0",
			"type": "relateditemspro"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	},
	"zl": null
}